<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="#" th:id="formselect" th:action="@{/showgif}" th:object="${list}" method="get">
    <p>Select currency:
        <select th:name="code" th:form="formselect">
            <option th:each="list: ${list}" th:text="${list}" th:value="${list}"/>
        </select>
    </p>
    <p><input type="submit" value="Get gif"/></p>
</form>
<p th:text="${base}"/>
<p th:text="${code}"/>
<p th:text="${prevDayRates}"/>
<p th:text="${curDayRates}"/>
<p th:text="${compareResult}"/>
<img th:src="${img}">
</body>
</html>